{% load static %}
<!doctype html>
<html lang="pt">

<head>
  {% block title %}<title>Chausant</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://kit.fontawesome.com/2b7b22e50b.js" crossorigin="anonymous"></script>
  <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">

  {% block css %}
  {% endblock %}

</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div id="logo">
        <img class="my-4" src="{% static 'core/img/logo.png' %}" width="50">
      </div>
      <div id="menu">
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="{% url 'questionnaire_list' %}"><span class="fa fa-home"></span>Perfil</a>
          </li>
          <li>
            <a href="{% url 'questionnaire_list' %}"><span class="fas fa-list-ol"></span>Listas</a>
          </li>
          <li>
            <a href="{% url 'quiz_list' %}"><span class="fas fa-question-circle"></span>Questões</a>
          </li>
          <li>
            <a href="{% url 'schoolclass_list' %}"><span class="fas fa-chalkboard-teacher"></span>Turmas</a>
          </li>
          <li>
            <a href="{% url 'student_list' %}"><span class="fas fa-user-graduate"></span> Alunos</a>
          </li>
        </ul>
      </div>
      <div id="footer">
          <a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt ml-1"></span>Sair</a>
      </div>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
      {% block content %}
      <!-- default content text (typically empty) -->{% endblock %}
    </div>

  </div>

</body>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

{% block js%}
{% endblock %}

</html>