{% extends "core/base.html" %}
{% load static %}

{% block css %}
 <link href="{% static 'core/css/quiz_list.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
  {% if user.student %}
    <a class="btn btn-primary float-right" href="{% url 'questionnaire_detail' object.get_first_quiz_pk %}">
      Responder
    </a>
  {% endif %}

  <h1>{{object.title}}</h1>

  <div class="container mt-5">
    <p><strong>Início:</strong> <a href="">{{ object.start_date|date:'d/m/Y' }}</a></p>
    <p><strong>Término:</strong> {{ object.due_date|date:'d/m/Y' }}</p>
    <p><strong>Número de Questões:</strong> {{ object.quizzes.all|length }}</p>
  </div>

  {% if user.teacher %}
    <div class="container">
       <h4 class="mt-5 mb-4">Questões</h4>
      {% for quiz in object.quizzes.all %}
      <div class="wrapper center-block">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id="headingOne">
              <h4 class="panel-title border">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{quiz.pk}}"
                  aria-expanded="false" aria-controls="collapseOne" id="accordion-toggle">
                  {{quiz.title}}
                </a>
              </h4>
            </div>
            <div id="collapse-{{quiz.pk}}" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne">
              <div class="row panel-body ml-3">
                <div class="col-11">
                  {{quiz.question}}<br>

                  {% for alternative in quiz.alternative_set.all %}
                  {% if alternative.is_answer %}
                  <i class="fas fa-check" style="color: var(--primary);"></i>
                  {% else %}
                  <i class="fas fa-times ml-1"></i>
                  {% endif %}
                  {{alternative.text}}<br>
                  {% endfor %}
                </div>
                <div class="col">
                  <i class="delete fas fa-trash-alt mr-3 mt-3 float-right" title="Deletar Questão"
                    data-href="{% url 'quiz_delete' quiz.pk %}"></i>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}