{% extends "core/base.html" %}
{% load static %}

{% block content %}

 {% if user.teacher %}
<a class="btn btn-primary float-right" href="{% url 'questionnaire_create' %}">Nova Lista de Exercícios</a>
 {% endif %}

<h1 class="mb-5">Listas de Exercícios</h1>

<table class="table">

  <thead>
    <tr>
      <th>Título</th>
      <th>Início</th>
      <th>Término</th>
      <th>Status</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for questionnaire in object_list %}

    <td>{{ questionnaire.title }}</td>
    <td>{{ questionnaire.start_date|date:'d/m/Y' }}</td>
    <td>{{ questionnaire.due_date|date:'d/m/Y' }}</td>
    {% if not questionnaire.is_supended %}
    {% if questionnaire.is_active %}
    <td>Em Andamento</td>
    {% else %}
    <td>Fechada</td>
    {% endif %}
    {% else %}
    <td>Suspensa</td>
    {% endif %}
    <td class="text-center">
      <a title="Detalhes" href="{% url 'questionnaire_detail' questionnaire.pk %}">
        <i class="fas fa-info-circle"></i>
      </a>
      <a href="#" class="delete" title="Deletar" data-href="{% url 'questionnaire_delete' questionnaire.pk %}">
        <i class="ml-2 fas fa-trash-alt"></i>
      </a>
      <a class="ml-2" title="Suspender" href="">
        <i class="fas fa-ban"></i>
      </a>
    </td>
    </tr>

    {% endfor %}
  </tbody>

</table>
{% endblock content %}

{% block js %}

<script src="{% static 'core/js/delete.js' %}" crossorigin="anonymous"></script>

{% endblock %}