{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container form-container">
  <h2 class="mb-2" >Nova Questão</h2>

  <form class="form-group" method="POST">
    {% csrf_token %}
   
    {{ form|crispy }}
    <div class="my-4">
      <h3 class="mb-0">Alternativas</h3>
      <small>Selecione apenas uma correta!</small>
    </div>

    {{ inlines.management_form }}
    {{ inlines.non_form_errors }}
    {% with inlines as formset %}
      {{ formset|crispy }}
    {% endwith %}
    <input type="submit" class="btn btn-primary" value="Salvar">
  </form>
</div>
{% endblock %}