{% extends "core/base.html" %}
{% load static %}

{% block content %}

<h1 class="mb-5">Resultado Individual</h1>

<div class="container my-5">
  <p><strong>Questionário:</strong> {{ questionnaire_title}}</p>
  <p><strong>Nome do Aluno:</strong> {{ student_name }}</p>
</div>

<table class="table">

  <thead>
    <tr>
      <th>Questão</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody>
    {% for result in object_list %}
    <tr>
      <td>{{ result.quiz.title }}</td>
      {% if result.is_correct %}
        <td><i class="fas fa-check" style="color: var(--primary);"></i></td>
      {% else %}
        <td><i class="fas fa-times ml-1"></i></td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr>
      <td><strong>Percentual de Acerto</strong></td>
      <td><strong>{{hit_percentage|floatformat}}%</strong></td>
    </tr>
  </tbody>

</table>
{% endblock content %}

{% block js %}

<script src="{% static 'core/js/delete.js' %}" crossorigin="anonymous"></script>

{% endblock %}