{% extends "core/base.html" %}
{% load static %}

{% block content %}
{% if user.student %}
<button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">Entrar em uma Turma</button>
{% elif user.teacher %}
<a class="btn btn-primary float-right" href="{% url 'schoolclass_create' %}">Nova Turma</a>
{% endif %}

<h1 class="mb-5">Minhas Turmas</h1>

{% for school_class in object_list %}
{% if forloop.first or forloop.counter0|divisibleby:3 %}
<div class="row justify-content-center">
  {% endif %}

  <div class="card mr-2 ml-2 mb-4" style="min-width: 300px; max-width: 300px;">
    <div class="card-body text-center mt-4">
      <h4 class="card-title">{{ school_class.school_level }}/{{school_class.year }} </h4>

      <p class="card-text">
        {{ school_class.discipline }}
      </p>
      <ul class="list-inline">
        <li class="list-inline-item">
          {% if user.teacher %}
            <small id="hidden-text">
              <p>
                <strong>Código: </strong>{{school_class.pk}}<br>
                <strong>Senha: </strong>{{school_class.password}}
              </p>
            </small>
            <a href="#" class="delete" title="Deletar Turma" data-href="{% url 'schoolclass_delete' school_class.pk %}">
              <i class="fas fa-trash-alt fa-lg"></i>
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  {% if  forloop.counter|divisibleby:3 %}
</div>
{% endif %}

{% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Entrar em uma Turma</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <small id="warning" style="display:none;">
          <p id="message" style="color:red; text-align: center;">
          </p>
        </small>
        Digite o código da turma na qual deseja entrar:
        <input id="pk" type="text" class="my-3" placeholder="Código"><br>
        Digite a senha da turma na qual deseja entrar:
        <input id="password" type="password" class="my-3" placeholder="Senha">
      </div>
      <div class="modal-footer">
        <button type="button" class="send btn btn-primary">Entrar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block js %}

<script src="{% static 'core/js/delete.js' %}" crossorigin="anonymous"></script>
<script>


$(document).ready(function () {

    $(".send").on("click", function(e) {
        var pk = $("#pk").val();
        var password = $("#password").val();

        $.ajax({
            type: 'POST',
            url: "{% url 'add_school_class_to_student'%}",
            dataType: 'json',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}', pk: pk, password:password},
            success: function (res, status) {
              console.log("ok");
            },
            error: function (res) {
                if(res.status == 406){
                    $("#message").text('Turma não encontrada.');
                    $("#warning").show();
                } else if (res.status == 409){
                    $("#message").text('Turma já adicionada.');
                    $("#warning").show();
                } else if (res.status == 401){
                    $("#message").text('Senha incorreta');
                    $("#warning").show();
                }else {
                    $("#message").text('Erro interno no servidor.');
                    $("#warning").show();
                }
            }
        });

    });
});


</script>

{% endblock %}