{% extends "core/base.html" %}

{% block content %}

<div class="container">
  <a class="btn btn-primary float-right" href="{% url 'user_update' user.pk %}" role="button">Editar Dados</a>
  <a class="btn btn-primary float-right mr-3" href="{% url 'password_change' %}" role="button">Trocar Senha</a>
  {% if user.student %}
          <h1 class="text-center ml-5">Bem-vindo, Aluno!</h1>
        {% elif user.teacher %}
          <h1 class="text-center ml-5">Bem-vindo, Professor!</h1>
  {% endif %}



    <div class="row">
      <label class="col"> <strong>Nome Completo: </strong> </label>
      <div class="w-100"></div>
      <div class="col alert alert-dark mx-3" role="alert">{{ user.full_name }}</div>
    </div>
    <div class="row">
      <label class="col"> <strong>Email: </strong> </label>
      <div class="w-100"></div>
      <div class="col alert alert-dark mx-3" role="alert">{{ user.email }}</div>
    </div>
    <div class="row">
      <label class="col"> <strong>Turmas: </strong> </label>
      <div class="w-100"></div>

      {% if user.get_classes %}
        {% for class in user.get_classes %}
          <div class="col alert alert-dark mx-3" role="alert">{{ class }}</div>
        {% endfor %}
      {% else%}
        <div class="col alert alert-dark mx-3" role="alert"><small>Clique em "Turmas" para entrar em uma turma</small></div>
      {% endif %}

    </div>





{% endblock content %}
