:root {
	--primary: #054E3B;
	--secondary: #343a40;
}

.wrapper {
	width: 100%;
}

#sidebar {
	background: var(--secondary);
	min-width: 80px;
	max-width: 80px;
	text-align: center;
	position: fixed;
	height: 100%;
}

#menu {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	background-color: var(--primary);
}

#sidebar a,
#sidebar span {
	color: white
}

#sidebar ul.components li {
	font-size: 14px;
}

#sidebar ul.components li a {
	padding: 10px 0;
}

#sidebar ul.components li a span {
	margin-right: 0;
	display: block;
	font-size: 18px;
}

#sidebar ul li {
	font-size: 16px;
}

#sidebar ul li>ul {
	margin-left: 10px;
}

#sidebar ul li>ul li {
	font-size: 14px;
}

#sidebar ul li a {
	padding: 10px 30px;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	text-decoration: none;
}

#sidebar ul li a span {
	margin-right: 15px;
}

#sidebar #footer {
	padding: 0 20px;
	height: 50px;
	position: absolute;
	width: 80px;
	bottom: 10px;
	list-style-type: none;
}

#sidebar #footer a {
	text-decoration: none;
}

#content {
	width: 100%;
	padding: 0;
	min-height: 100vh;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-left: 80px;
}

.btn-primary {
	background-color: var(--primary);
	border-color: var(--primary);
}

.form-container {
	max-width: 60%;
}