body {
	background: var(--secondary);
}

a {
	text-decoration: none !important;
}

#logo h1 {
	margin: 0 !important;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.myform {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0 0 1.1rem 1.1rem;
	outline: 0;
	max-width: 500px;
}

.tx-tfm {
	text-transform: uppercase;
}

.mybtn {
	border-radius: 50px;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
  
	display: flex;
	align-items: center;
}

.center {
	margin-left: 28%;
}

